/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/workbench
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
phpunit.xml
auth.json
npm-debug.log
yarn-error.log
testbench.yaml
/.fleet
/.idea
/.vscode
